@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Oswald"),
    url("/source/fonts/static/Oswald-Medium.ttf") format("ttf");
}

@font-face {
  font-family: "Oswald";
  font-style: bold;
  font-weight: 700;
  font-display: swap;
  src: local("Oswald"),
    url("/source/fonts/static/Oswald-Bold.ttf") format("ttf");
}

body {
  font-family: "Oswald", sans-serif;
}
