@font-face {
  font-family: "Oswald";
  src: local("Oswald");
  src:
    url("../fonts/oswaldregular.woff2") format("woff2"),
    url("../fonts/oswaldregular.woff") format("woff");
  font-weight: 400;
  // font-display: block;
}
@font-face {
  font-family: "Oswald";
  src: local("Oswald");
  src:
    url("../fonts/oswaldmedium.woff2") format("woff2"),
    url("../fonts/oswaldmedium.woff") format("woff");
  font-weight: 500;
  // font-display: block;
}

body {
  font-family: "Oswald", sans-serif;
  margin: 0;
  font-size: 14px;
}

body::-webkit-scrollbar {
  display: none;
}
