.search-program {

}
.search-programm__content {
  background: url("/img/index-background-mobile.jpg") no-repeat top / contain;
  text-align: center;
  color: #ffffff;
  padding: 27px 20px 22px 20px;
}
.search-programm__title {
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
}
.search-programm__text {
}
.search-programm__img {
}
.button {
}
.search-programm__button {
}
