// Позиционирование
// Блочная модель
// Типографика
// Оформление
// Анимация
// Разное

.menu {
  display: flex;
  align-items: center;
  padding: 13px 0 11px 0;
  margin: 0 23px 0 20px;
}

// .menu__logo {
// }

.menu__logo-text {
  text-align: center;
  flex-grow: 1;
  margin: 0 14px 0 0;
}

.menu__button {
  position: relative;
  bottom: 3px;
}

.menu__button-img {
  display: none;

  &--active {
    display: block;
  }

  &--close {
    display: block;
  }
}

// .menu__list {
// }

.menu__list-items {
  display: none;
  text-transform: uppercase;
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 20px;
  text-align: center;

  &--active {
    display: block;
  }
}

.menu__list-item {
  padding: 18px 0 17px 0;
  border-bottom: 1px solid #e6e6e6;

  &:first-child {
    border-top: 1px solid #e6e6e6;
  }
  &:last-child {
    border-bottom: none;
  }
}

.menu__list-item-link {
  text-decoration: none;
  color: #000000;
}
