.menu {
  display: flex;
  align-items: center;
  padding: 4px 0;
  margin: 0 15px 0 12px;
}
// .menu__logo {
// }
.menu__logo-text {
  text-align: center;
  flex-grow: 1;
  margin: 0 14px 0 0;
}
.menu__button {
  position: relative;
  bottom: 3px;
}
// .menu__list--disabled {
// }
.menu__list {
  &--disabled {
    display: none;
  }
}
// .menu__list {
// }
.menu__list-items {
  text-align: center;
  text-transform: uppercase;
  list-style: none;
  margin: 0;
  padding: 0;
}
.menu__list-item {
  padding: 1rem 0;
  border-bottom: 0.1rem solid #e6e6e6;

  &:first-child {
    border-top: 0.1rem solid #e6e6e6;
  }
}
.menu__list-item-link {
  font-weight: 400;
  text-decoration: none;
  color: #333333;
}
